.pf-v6-c-tabs.patchman-tabs {
    background-color: var(--pf-t--global--background--color--primary--default);
    padding-left: var(--pf-v6-c-page__main-section--md--PaddingLeft);
    display: block;
}
