.pf-v5-c-tabs.patchman-tabs {
    background-color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--BackgroundColor--100 */);
    padding-left: var(--pf-v6-c-page__main-section--md--PaddingLeft);
    display: block;
}
