# See https://help.github.com/ignore-files/ for more about ignoring files.

# vscode config
.vscode/

# ide config
.idea/

# dependencies
node_modules

# production
dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.nyc_output/
coverage
coverage/*
coverage-*

.cache/
# Sentry Config File
.env.sentry-build-plugin

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/test-utils/data/tmp/
.env
.auth/
