.infobox {
    background-color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--BackgroundColor--150 */);
    border: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--BorderColor--300 */) var(--pf-t--global--border--width--regular)
        solid;
    height: 65px;
    > .pf-v5-l-split__item:first-child {
        width: 65px;
        color: black;
        background-color: var(--pf-t--temp--dev--tbd /* CODEMODS: original v5 color was:--pf-v5-global--warning-color--100 */);
        > div.pf-v5-l-bullseye svg {
            color: white;
        }
    }
    .pf-v5-c-content h6 {
        margin: 0;
    }
    > .pf-v5-l-split__item:nth-child(2) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
