// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";
@import "~@redhat-cloud-services/frontend-components/index.css";
@import "~@redhat-cloud-services/frontend-components-notifications/index.css";

table.patchCompactInventory {
    .ins-composed-col {
        font-size: var(--pf-c-table--m-compact--FontSize);
    }
}

.patch-root {
    overflow: inherit !important;    

    .pf-c-table__expandable-row-content {
        .patch-advisory-description {
            font-size: var(--pf-global--FontSize--sm);
        }
    }
}

.ins-c-primary-toolbar {
    .pf-c-toolbar__content.pf-m-hidden {
        display: none !important;
    }
}

.patch-root
    .ins-c-inventory__table--toolbar:not(.ins-c-inventory__table--toolbar-has-items)
    .pf-c-toolbar__content
    .pf-c-toolbar__item:last-child {
    min-width: unset !important;
}
